<form method="post" action="http://devtest.gq/zarrlog/gruposecom/public/app/enviar" enctype="multipart/form-data">
<input type="file" name="uploaded_file"/>
<input type="hidden" name="mensaje" value="1111111"/>
<input type="hidden" name="id_usuario" value="1431"/>
<button type="submit">enviar</button>
</form>